modules = ["bash", "nodejs-20", "python-3.10", "gcloud", "web", "zig-0.11", "docker", "vue-node-20", "typescript-language-server", "pyright-extended", "nodejs-with-prybar-18", "swift-5.6", "swift-5.8"]
run = "npm install"

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 9005

[deployment]
run = ["sh", "-c", "npm install"]
